<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/all.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title pacifico" id="offcanvasDarkNavbarLabel">Menu Bar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{home}}">Home</a>
                        </li>
                        <li class="nav-item dropdown {{display5}}">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{list5}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{{link501}}">{{list501}}</a></li>
                                <li><a class="dropdown-item" href="{{link502}}">{{list502}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown {{display1}}">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{list1}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{{link101}}">{{list101}}</a></li>
                                <li><a class="dropdown-item" href="{{link102}}">{{list102}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown {{display2}}">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{list2}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{{link201}}">{{list201}}</a></li>
                                <li><a class="dropdown-item" href="{{link202}}">{{list202}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown {{display3}}">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{list3}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{{link301}}">{{list301}}</a></li>
                                <li><a class="dropdown-item" href="{{link302}}">{{list302}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown {{display4}}">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{list4}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{{link401}}">{{list401}}</a></li>
                                <li><a class="dropdown-item" href="{{link402}}">{{list402}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br>
    {{{body}}}
    <!-- Footer -->
    {{!-- style="background-color: #3f51b5" --}}
    <footer class="text-center text-white bg-dark">
        <!-- Grid container -->
        <div class="container">
            <hr class="my-5">
            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            distinctio earum repellat quaerat voluptatibus placeat nam,
                            commodi optio pariatur est quia magnam eum harum corrupti
                            dicta, aliquam sequi voluptate quas.
                        </p>
                    </div>
                </div>
            </section>
            <!-- Section: Text -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">© 2023 Copyright</div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>